name: RClone Sync
on:
  workflow_dispatch:
  schedule:
    - cron:  '30 6 * * *'
jobs:
  run-sync-service:
    runs-on: ubuntu-latest
    steps:
      - name: Install RClone
        run: |
          wget https://github.com/dogbutcat/gclone/releases/download/v1.57.0-mod1.4.0/gclone-v1.57.0-mod1.4.0-linux-amd64.zip
          unzip gclone-v1.57.0-mod1.4.0-linux-amd64.zip
          chmod +x gclone-v1.57.0-mod1.4.0-linux-amd64/gclone
          sudo mv gclone-v1.57.0-mod1.4.0-linux-amd64/gclone /usr/bin/rclone
          rclone help
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Downloading config file
        run: |
          wget ${{ secrets.CONF_URL }} -O rclone.conf
      - name: Downloading SA Accounts Zip (optional)
        env:
          SA_ZIP: ${{ secrets.SA_ZIP }}
          if: "${{ env.SA_ZIP != '' }}"
          run:
            wget ${{ secrets.SA_ZIP }} -O accounts.zip
            unzip accounts.zip
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
